{% include base_path %}

<div class="pub-listitem">
  <div class="pub-listitem__left">
    <div class="pub-listitem__title">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </div>

    {% if post.authors %}
      <div class="pub-listitem__authors">{{ post.authors }}</div>
    {% endif %}

    <div class="pub-listitem__meta">
      {% if post.status %}
        <span>{{ post.status }} ·</span>
      {% elsif post.venue %}
        <span>{{ post.venue }} ·</span>
      {% endif %}

      <span>{{ post.date | default: "1900-01-01" | date: "%Y" }}</span>

      {% if post.paperurl %}
        <a class="pub-link-bracket" href="{{ post.paperurl }}" target="_blank" rel="noopener">[Link]</a>
      {% endif %}
    </div>
  </div>
</div>
